@import '../_mediaqueries.scss';

.list_content {
  &__item {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #E1E1E1;
    
    &:last-child {
      border-bottom: 0;
    }

    &--category {
      padding-bottom: 37px;
    }

    &__title {
      font-size: 24px;
      letter-spacing: -1.25px;
      line-height: 28px;
      font-weight: 600;
      display: flex;

      @include small {
        flex-direction: column;
      }

      a {
        flex: 1 1;
        @include small {
          margin-bottom: 10px;
        }
      }
      &--vote {
        justify-content: flex-end;
        font-size: 17px;
        .vote__bar__total {
          padding: 0 10px;
        }
        @include small {
          flex: 1 1;
          margin-bottom: 10px;
        }
      }
    }
  
    &__info {
      color: #999;
      font-size: 11px;
      grid-column: 2;
      line-height: 11px;
      margin: 6px 0 0;
      text-transform: uppercase;
      p {
        margin: 0;
      }
    }
  }

  &__filter {
    margin: 0;

    &__item {
      padding: 12px 0 9px 0;
      border: 0.5px solid #e0e0e0;
      font-weight: bold;
      font-size: 12px;
      color: #666;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      line-height: 1;

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      &--selected {
        border-color: #000;
        color: #000;
      }
    }
  }
}