
.content {
  &__comment {
    &__head {
      font-size: 30px;
      letter-spacing: -1.5px;
      text-transform: uppercase;
      p {
        font-weight: 100;
      }
      span {
        font-weight: 900;
      }
    }

    &__info {
      font-size: 12px;
      line-height: 18px;
      color: #666;
    }

    &__body {
      position: relative;
      font-size: 14px;
      line-height: 18px;
      color: #666;
      word-wrap: break-word;
      margin-top: 30px;
      margin-bottom: 10px;

      &__info {
        &--avatar {
          float: left;
          margin-right: 10px;
        }

        &--author {
          text-transform: uppercase;
          font-weight: 900;
          margin: 0;
        }

        &--date {
          font-size: 12px;
          line-height: 18px;
        }
      }

      &__actions {
        position: absolute;
        right: 0;
        top: 0;
      }

    }

    button {
      margin-top: 16px;
      margin-bottom: 8px;
    }

    &__filter {
      margin: 38px 0 0;

      &__item {
        padding: 12px 0 9px 0;
        border: 0.5px solid #e0e0e0;
        font-weight: bold;
        font-size: 12px;
        color: #666;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        line-height: 1;

        &:first-child {
          border-radius: 3px 0 0 3px;
        }

        &:last-child {
          border-radius: 0 3px 3px 0;
        }

        &--selected {
          border-color: #000;
          color: #000;
        }
      }
    }
  }
}