$small-min-width: 576px;
$medium-min-width: 768px;
$large-min-width: 992px;
$xlarge-min-width: 1200px;

@mixin small {
  @media (max-width: #{$small-min-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-min-width}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$xlarge-min-width}) {
    @content;
  }
}
