$small-min-width: 576px;
$medium-min-width: 768px;
$large-min-width: 992px;
$xlarge-min-width: 1200px;

@mixin small {
  @media (min-width: #{$small-min-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-min-width}) {
    @content;
  }
}
@mixin large {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$xlarge-min-width}) {
    @content;
  }
}


*, ::after, ::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1224px;

  &__nav {
    max-width: 1360px;
  }
}

.content {
  &__head {
    .container {
      max-width: 1124px;
      position: relative;
    }
  }

  &__title {
    font-weight: 700;
    color: #111;
    font-size: 3.5rem;
    line-height: 4rem;

    &__actions {
      position: absolute;
      right: 15px;
      bottom: 0;
    }
  }

  &__body {
    .container {
      max-width: 1054px;
    }
    font-size: 1.125rem;
    margin-bottom: 1.75rem;
    line-height: 1.75rem;
    letter-spacing: -.03125rem;
    overflow-wrap: break-word;
  }
}

.link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

hr {
  border: 0.5px solid #E1E1E1;
}

.line {
  content: "";
  height: 8px;
  clear: both;
  width: 100%;
  background-color: #E1E1E1;
  position: relative;
  display: block;
  margin-bottom: 30px;
  margin-top: 60px;
}